# Configuration file

##########################################################################################################
# adaptors
#--------------------------------------------------------------------------------------------------------#
# Each Adaptor is responsible for a certain type of dynamic light.  Turn them on or off here.
##########################################################################################################

adaptors {
    # Set to false to disable natural dynamic light from mobs.
    B:"Entities Naturally Glow"=true

    # Set to false to disable dynamic flood light from certain held items.
    B:"Flood Light"=true

    # Set to false to disable dynamic light from mobs on fire.
    B:"Light from Burning Entities"=true

    # Set to false to disable dynamic light from creepers while charging.
    B:"Light from Charging Creepers"=true

    # Set to false to disable dynamic light from dropped items, like torches.
    B:"Light from Dropped Items"=true

    # Set to false to disable dynamic light from flaming arrows.
    B:"Light from Flaming Arrows"=true

    # Set to false to disable dynamic light from held items.
    B:"Light from Held Items"=true

    # Set to false to disable dynamic light from mobs holding torches, etc.
    B:"Light from Mob Equipment"=true

    # Set to false to disable dynamic light from items held by other players.
    B:"Light from Other Players"=true

    # Set to false to disable dynamic light from XP orbs.
    B:"XP Light"=true
}


##########################################################################################################
# flamable entities
#--------------------------------------------------------------------------------------------------------#
# Set to false if you don't want that Entity Class to emit dynamic light when on fire.
##########################################################################################################

"flamable entities" {
    B:AttackSquid=true
    B:Beaver=true
    B:Bee=true
    B:BlueSlime=true
    B:Cassowary=true
    B:Chipmunk=true
    B:Cockateil=true
    B:Coin=true
    B:Cricket=true
    B:Dragonfly=true
    B:EnderKnight=true
    B:EntityAnt=true
    B:EntityBat=true
    B:EntityBlaze=true
    B:EntityBrainyZombie=true
    B:EntityButterfly=true
    B:EntityChicken=true
    B:EntityChickenMinion=true
    B:EntityCreeper=true
    B:EntityCultistCleric=true
    B:EntityDryad=true
    B:EntityEnderman=true
    B:EntityFluidCow=true
    B:EntityLordOfTorment=true
    B:EntityLunaMoth=true
    B:EntityManaElemental=true
    B:EntityMorphAcquisition=true
    B:EntityPech=true
    B:EntityRedAnt=true
    B:EntitySheep=true
    B:EntitySkeleton=true
    B:EntitySlime=true
    B:EntitySpider=true
    B:EntitySquid=true
    B:EntityWitch=true
    B:EntityZombie=true
    B:Firefly=true
    B:Frog=true
    B:Lizard=true
    B:Mantis=true
    B:RedCow=true
    B:RockBase=true
    B:RubberDucky=true
    B:Scorpion=true
    B:StinkBug=true
    B:WaterDragon=true
}


##########################################################################################################
# floodlights
#--------------------------------------------------------------------------------------------------------#
# Floodlights can simulate a single point light or a cone of light (May be slower!)
##########################################################################################################

floodlights {
    # List of comma separated items that shine floodlight while held.
    S:"Flood Light Items"=ender_eye

    # Simulate a single point light instead of a cone of light (May be slower!)
    B:"Simple Floodlight Mode"=true
}


general {
    # Comma separated list of items that do not give off light when dropped and in water, have to be present in Light Items.
    S:"Items Turned Off By Water"=torch,lava_bucket

    # Comma separated list of items that shine light when dropped in the World or held in player's or mob's hands.
    S:"Light Items"=torch,glowstone=12,glowstone_dust=10,lit_pumpkin,lava_bucket,redstone_torch=10,redstone=10,golden_helmet=14,easycoloredlights:easycoloredlightsCLStone=-1

    # Optifine has a Dynamic Lights of its own.  This mod will turn itself off if Optifine is loaded.
    # Set this to true if you aren't going to use Optifine's Dynamic Lights (even though they work just as well!).
    B:"Optifine Override"=false

    # Update Interval time in milliseconds. The lower the better and costlier.
    I:"Update Interval"=50
}


##########################################################################################################
# glowing entities
#--------------------------------------------------------------------------------------------------------#
# Mobs/Entities will naturally radiate light with the value of this setting.
##########################################################################################################

"glowing entities" {
    I:AttackSquid=0
    I:Beaver=0
    I:Bee=0
    I:BlueSlime=0
    I:Cassowary=0
    I:Chipmunk=0
    I:Cockateil=0
    I:Coin=0
    I:Cricket=0
    I:Dragonfly=0
    I:EnderKnight=0
    I:EntityAnt=0
    I:EntityBat=0
    I:EntityBlaze=10
    I:EntityBrainyZombie=0
    I:EntityButterfly=0
    I:EntityChicken=0
    I:EntityChickenMinion=0
    I:EntityCreeper=0
    I:EntityCultistCleric=0
    I:EntityDryad=0
    I:EntityEnderman=0
    I:EntityFluidCow=0
    I:EntityLordOfTorment=0
    I:EntityLunaMoth=0
    I:EntityManaElemental=0
    I:EntityMorphAcquisition=0
    I:EntityPech=0
    I:EntityRedAnt=0
    I:EntitySheep=0
    I:EntitySkeleton=0
    I:EntitySlime=0
    I:EntitySpider=0
    I:EntitySquid=0
    I:EntityWitch=0
    I:EntityZombie=0
    I:Firefly=0
    I:Frog=0
    I:Lizard=0
    I:Mantis=0
    I:RedCow=0
    I:RockBase=0
    I:RubberDucky=0
    I:Scorpion=0
    I:StinkBug=0
    I:WaterDragon=0
}


